<ion-view view-title="兑换卷">

  <ion-content>
    <ion-list>
      <div class="item exchangeitem">
        <div class="row" style="width: 100%;padding: 0px">
          <div class="exchangeimgdiv col-50" ng-click="ckexchange()">
            <img src="img/perry.png"/>

            <div class="div-shopping">兑换卷</div>

          </div>
          <div class="exchangeimgdiv col-50">
            <img src="img/perry.png"/>

            <div class="div-shopping">兑换卷</div>
          </div>
        </div>
        <div class="row" style="width: 100%">
          <div class="exchangeimgdiv col-50">
            <img src="img/perry.png"/>

            <div class="div-shopping">兑换卷</div>

          </div>
          <div class="exchangeimgdiv col-50">
            <img src="img/perry.png"/>

            <div class="div-shopping">兑换卷</div>
          </div>
        </div>
      </div>
      <div class="item">

        广告
      </div>
      <div class="item exchangeitem">
        <div style="width: 100%;height: auto" class="row">
          <label class="route-label col-90">热门景点</label>
          <label class="route-label col-10">更多</label>
        </div>
          <div class="routeimgdiv" style="width: 100%;height:auto">
            <img src="img/perry.png" style="height: 7rem"/>
            <div class="routelabeldiv">
              <button class="button button-calm gtbtn col-50">跟团</button>
            </div>
            <div class="div-shopping">无购物精华景点，特色大餐</div>
            <div style="width: 100%;" class="row">
              <label class="price-label col-50">123</label>
              <button class="button button-assertive gmbtn col-50">立即兑换</button>
            </div>
          </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
