<ion-view view-title="确认订单">
  <ion-content>
    <list class="list">
      <div class="item" style="border: 0">
        <span>北京到海南海口双飞6日游 海口进出 </span>

        <div class="row">
          <div class="col-67">
            <label>出发地:</label><label>111</label>
          </div>
          <div class="col-33">
            <label>线路编号:</label><label>111</label>
          </div>
        </div>
        <div class="row">
          <div class="col-67">
            <label>目的地:</label><label>111</label>
          </div>
          <div class="col-33">
            <label>行程天数:</label><label>111</label>
          </div>
        </div>
        <div class="row">
          <div class="col-67">
            <label>出游人数:</label><label>111</label>
          </div>

        </div>
      </div>
      <div class="item" style="border: 0">
        <span style="color: black">保险信息</span>

        <div class="row">
          阿斯顿
        </div>
        <div class="row">

          撒旦
        </div>
      </div>

      <div class="item" style="border: 0;">
        <div class="row">
          <div class="col col-33">订单总额</div>
          <div class="col col-33 col-offset-33">
            <button class="button button-assertive bottom-btn" ng-click="txmessage()">
            填写信息
          </button></div>
        </div>
      </div>
    </list>
  </ion-content>

</ion-view>
