<ion-view view-title="个人信息">
  <ion-content scroll="true">
    <div class="list">
      <div class="useroneimg item" ui-sref="tab.setuser">
        <img src="/img/adam.jpg">
        <label>username</label>
      </div>
      <div class="item item-button-right ">
        <label>内容</label>
      </div>
      <div class="item item-button-right ">
        <label>内容</label>
      </div>
      <div class="item item-button-right ">
        <label>内容</label>
      </div>
      <div class="item item-button-right ">
        <label>内容</label>
      </div>
      <div class="item item-button-right ">
        <label>内容</label>
      </div>
      <div class="item item-button-right ">
        <label>内容</label>
      </div>
      <div item>
      <button class="button button-block button-positive" ng-click="selecthotel()">
        退出登录
      </button>
      </div>
  </ion-content>
</ion-view>
